extends layout

include mixins/_booker

block content
  .hero
    .overlay
    img.logo(src="images/chefit-logo.png", alt="ChefIt")
    .title
      h3 The best table in town is yours
      h2 Book a personal chef today
    +booker()
  .content
    h2 How It Works
    
    
