extends layout

include mixins/_booker

block modals
  .modal#modal-package-vip
    .content
      h2 VIP Menu
      
      h3 Appetizers and Salads
      hr
      p Bruschetta with tomato confit and fresh basil
      p Pizzetta squares with fresh mozzarella and sundried tomatoes
      p Arugula and romaine salad with apple and radish with a citrus vinaigrette
      p Spinach and butter lettuce salad with Italian dressing
      p Poppy lemon crunch salad
      p Cucumber and tomato salad with fresh herbs
      p Chunky white bean vegetable soup
      
      h3 Main course
      hr
      p Grilled skirt steak with roasted sweet potatoes and fresh cole slaw
      p Sliced ribeye and fingerling potatoes with pan seared asparagus and tomatoes
      p Chicken Picatta served with rice mixed with peas and wilted spinach
      p Pasta fussili Alfredo traditional with shrimp scampi
      p Seared Salmon with a green dragon jasmine rice
      p Slow roasted chipotle spiced chicken thigh with ratatouille and steamed brown rice
      p Herb roasted salmon with sprouted lentils and a vegetable medley
  .modal#modal-package-exec
    .content
      h2 Executive Menu
      
      h3 Appetizers and Salads
      hr
      p Bruschetta with tomato confit and fresh basil
      p Pizzetta squares with fresh mozzarella and sundried tomatoes
      p Arugula and romaine salad with apple and radish with a citrus vinaigrette
      p Spinach and butter lettuce salad with Italian dressing
      p Poppy lemon crunch salad
      p Cucumber and tomato salad with fresh herbs
      p Chunky white bean vegetable soup
      
      h3 Main course
      hr
      p Grilled skirt steak with roasted sweet potatoes and fresh cole slaw
      p Sliced ribeye and fingerling potatoes with pan seared asparagus and tomatoes
      p Chicken Picatta served with rice mixed with peas and wilted spinach
      p Pasta fussili Alfredo traditional with shrimp scampi
      p Seared Salmon with a green dragon jasmine rice
      p Slow roasted chipotle spiced chicken thigh with ratatouille and steamed brown rice
      p Herb roasted salmon with sprouted lentils and a vegetable medley

block content
  .hero
    .overlay
    img.logo(src="images/chefit-logo.png", alt="ChefIt")
    .title
      h3 The best table in town is your own
      h2 Book a personal chef today
    +booker()
    //- .chevron &or;
  .content
    #howitworks
      h2 How It Works
    #icons
      .iconbox
        .blackbox
          .icon
            i.fa.fa-book.fa-4x
          h3 Fresh and seasonal menus
      .iconbox.text
        p Seasonal menus created by our executive chef with the finest and freshest ingredients
      .iconbox
        .blackbox
          .icon
            i.fa.fa-star.fa-4x
          h3 Awesome chefs
      .iconbox.text
        p Talented and creative chefs verified personally by CHEFIT
      .iconbox
        .blackbox
          .icon
            i.fa.fa-ban.fa-4x
          h3 No grocery hassle
      .iconbox.text
        p The grocery cost and collection is handled by the chef
      .iconbox
        .blackbox
          .icon
            i.fa.fa-ban.fa-4x
          h3 Kitchen cleanup
      .iconbox.text
        p The chef will clean all of the cooking equipment used during the meal process
    
    #whatweneed
      h3 What we need from you
      p Please keep in mind our ChefIt Chef will be cooking in your kitchen, which is required to be fully functional and equipped with the following:
      - const needs = ['Pots and pans', 'Baking dishes', 'Mixing bowls', 'Cutting board', 'Dinnerware (plates, cutlery, glassware, napkins)']
      //- ul
      //-   each need in needs
      //-     li= need
      img(src="images/kitchen-tools.jpg", alt="Pots and pans, baking dishes, mixing bowls, cutting board, dinnerware (plates, cutlery, glassware, napkins)")
          
    //- #timing
    //-   p On the day of your dinner, we will send you a notification via e-mail to let you know that the Chef is on their way. The Chef is scheduled to arrive 1.5 to 2 hours prior to the main course being served depending on which package you select. 
    
