extends layout

include mixins/_booker

block content
  .hero
    .overlay
    img.logo(src="images/chefit-logo.png", alt="ChefIt")
    .title
      h3 The best table in town is yours
      h2 Book a personal chef today
    +booker()
  .content
    #howitworks
      h2 How It Works
    .icons
      .iconbox
        .icon
          i.fa.fa-book.fa-4x
        h3 Amazing menus
      .iconbox
        .icon
          i.fa.fa-star.fa-4x
        h3 Handpicked chef
      .iconbox
        .icon
          i.fa.fa-ban.fa-4x
        h3 No need to shop
      .iconbox
        .icon
          i.fa.fa-ban.fa-4x
        h3 No need to clean
    
    #whatweneed
      h3 What we need from you
      p Please keep in mind our ChefIt Chef will be cooking in your kitchen, which is required to be fully functional and equipped with the following:
      - const needs = ['Pots and pans', 'Baking dishes', 'Mixing bowls', 'Cutting board', 'Dinnerware (plates, cutlery, glassware, napkins)']
      //- ul
      //-   each need in needs
      //-     li= need
      img(src="images/kitchen-tools.jpg", alt="Pots and pans, baking dishes, mixing bowls, cutting board, dinnerware (plates, cutlery, glassware, napkins)")
          
    //- #timing
    //-   p On the day of your dinner, we will send you a notification via e-mail to let you know that the Chef is on their way. The Chef is scheduled to arrive 1.5 to 2 hours prior to the main course being served depending on which package you select. 
    
