extends layout

include mixins/_booker

block content
  .hero(class=submitted)
    .overlay
    img.logo(src="images/chefit-logo.png", alt="ChefIt")
    .title
      h3 The best table in town is your own
      h2 Book a personal chef today
    //- - if(submitted)
    +booker()
    .success
      h3 Congratulations, you've successfully booked your CHEFIT dinner
      div
        a.button(data-scroll href="#howitworks") Learn More
        .button.button--boring(onclick="bookAnother()") Book another
    //- .chevron &or;
  .content
    #howitworks
      h2 How It Works
    #icons
      .iconbox
        .blackbox
          .icon
            .image
              img(src="images/icons/menu-blue.png", alt="Menu")
          h3 Our menus
          p.small Every aspect of our seasonal menu is handcrafted by our executive chef
      .iconbox
        .blackbox
          .icon
            .image
              img(src="images/icons/groceries-blue.png", alt="Groceries")
          h3 We shop
          p.small We buy the freshest ingredients and bring them to your house
      .iconbox
        .blackbox
          .icon
            .image
              img(src="images/icons/chef-blue.png", alt="Chef")
          h3 We cook
          p.small Talented and creative chefs cook right in your kitchen
      .iconbox
        .blackbox
          .icon
            .image
              img(src="images/icons/cleanup-blue.png", alt="Cleanup")
          h3 We clean
          p.small The chef cleans up so you don't have to
    
    #whatweneed
      h3 What we need from you
      p Please keep in mind our chef will be cooking in your kitchen, which is required to be fully functional and equipped with the following:
      - const needs = ['Pots and pans', 'Baking dishes', 'Mixing bowls', 'Cutting board', 'Dinnerware (plates, cutlery, glassware, napkins)']
      //- ul
      //-   each need in needs
      //-     li= need
      img(src="images/kitchen-tools.jpg", alt="Pots and pans, baking dishes, mixing bowls, cutting board, dinnerware (plates, cutlery, glassware, napkins)")
    
  script(type="application/javascript", src="javascripts/smooth-scroll.polyfills.min.js")
  script(type="application/javascript", src="javascripts/_index.js")
    
