doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1, height=device-height")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://use.fontawesome.com/95c4cfa9e4.js")
  body
    
    block errors
      .errors.inactive
        //- p This is an error
      
    block content
      
    block footer
      .footer
        h2 Contact us:
        p #[i.fa.fa-envelope] Admin@GetChefIt.com
        p #[i.fa.fa-phone] (424) 354-6661
