doctype html
html
  head
    title= CHEFIT
    meta(name="viewport" content="width=device-width, initial-scale=1, height=device-height")
    link(rel='stylesheet', href='/dist/style.css')
    script(src="https://use.fontawesome.com/95c4cfa9e4.js")
  body
    
    block modals
      
    block content
      
    block footer
      .footer
        h2 Contact us:
        p #[i.fa.fa-envelope] Admin@GetCHEFIT.com
        p #[i.fa.fa-phone] (424) 354-6661
        hr.orange
        p Interested in being one of our chefs?
        p Email us at Chefs@GetCHEFIT.com

    block scripts
      script(src="/dist/app.bundle.js")
      //- script(src="/dist/flatpickr.bundle.js")
