.booker {
  background-color: $chefit-white;
  // position: relative;
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;

  padding: 15px;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.25);

  @media screen and (max-width: $breakpoint-small) {
    top: 40%;
    border-top-left-radius: 5px;
  }

  .tabs {
    width: 100%;
    display: flex;
    position: absolute;
    top: 0; left: 0;
    transform: translateY(-100%);

    @media screen and (max-width: $breakpoint-small) {
      width: 33%;
      left: initial; right: 0;
      flex-direction: column;
    }

    .tab {
      flex-basis: 25%;
      background-color: $chefit-blue;
      padding: 15px;
      border-radius: 5px 5px 0px 0px;

      cursor: pointer;

      transition: all 350ms;

      &.active {
        background-color: $chefit-white;
      }

      &:hover:not(.active) {
        background-color: mix($chefit-blue, $chefit-white);
      }

      @media screen and (max-width: $breakpoint-small) {
        &:not(:first-child){
          border-radius: initial;
        }
        border-top: 1px solid $chefit-white;
      }
    }
  }

  .booker-card {
    display: flex;

    @media screen and (max-width: $breakpoint-small) {
      flex-wrap: wrap;
    }

    padding-bottom: 40px;

    &:not(.active) {
      display: none;
    }

    .input {
      flex-grow: 1;
      // flex-basis: 33%;
    }

    &#special-requests {
      flex-wrap: wrap;
    }

    &#package {
      justify-content: center;
      .package {
        flex-grow: 1;
        // flex-basis: 50%;
        max-width: 250px;
        margin: 15px;
        padding: 15px 20px;

        text-align: center;

        border: 2px solid $chefit-blue;
        border-radius: 5px;

        cursor: pointer;

        transition: all 350ms;

        p.price {
          font-size: 1.25rem;
          // color: darken($chefit-blue, 20);
        }

        input {
          display: none;
        }

        &:hover {
          // background-color: mix($chefit-blue, $chefit-white);
          box-shadow: $med-shadow;
        }

        &.selected {
          background-color: $chefit-blue;
          box-shadow: $med-shadow;
        }
      }
    }


    .button, input[type='submit'] {
      position: absolute;
      bottom: 15px; right: 15px;

      padding: 8px 10px;
      background-color: rgba(0,0,0,0);
      border: 2px solid $chefit-blue;
      border-radius: 5px;

      cursor: pointer;

      transition: all 350ms;

      &:hover {
        background-color: $chefit-blue;
        box-shadow: $light-shadow;
      }
    }
  }
}
