.errors {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: absolute;
  z-index: 100;
  left: 0; right: 0; bottom: 0;
  transform: translateY(100%);


  transition: opacity 350ms;

  &.inactive {
    opacity: 0;
  }

  p {
    color: $chefit-black;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: red;
    box-shadow: $light-shadow;
  }
}
