.footer {
  margin-top: 4rem;
  padding: 25px 5%;
  border-top: 2px solid $chefit-dark-blue;

  text-align: center;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1rem;
  }
}
