.input {
  padding: 10px;

  label, p.label {
    font-size: 1rem;
    margin-top: 0px;
    margin-bottom: 5px;
  }

  input, textarea {
    padding: 10px;
    line-height: 1.5;
    color: #464a4c;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 5px;

    &:focus {
      box-shadow: $ultra-light-shadow;
      outline: none;
    }
  }
}

.basicInput {
  label {
    display: block;
  }

  input, textarea {
    width: 100%;
    display: block;
  }
}

.dateInput, .timeInput {
  label {
    display: block;
  }

  input, textarea {
    width: 100%;
    display: block;
  }
}

.checkboxes {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  p.label {
    flex-basis: 100%;
  }

  label {
    display: block;
    padding: 10px;
    margin: 5px;
    border: 2px solid $chefit-blue;
    border-radius: 5px;

    transition: all 350ms;

    &:hover {
      box-shadow: $med-shadow;
    }

    &.selected {
      background-color: $chefit-blue;
      box-shadow: $med-shadow;
    }
  }

  input {
    display: none;
  }
}

.radios {
  display: flex;

  div {
    flex-grow: 1;

    border: 2px solid $chefit-blue;
    border-radius: 5px;
  }
  input {
    // display: none;
  }
}

.numberInput {
  input {
    display: none;
  }

  > div {
    display: flex;
    justify-content: center;
    padding: 6px;

    .counter {
      width: 2rem;
      height: 2rem;
      text-align: center;

      padding: 5px;
      border: 2px solid $chefit-blue;
      border-radius: 100%;

      cursor: pointer;
      user-select: none;

      transition: all 350ms;

      &:hover {
        background-color: $chefit-blue;
        box-shadow: $light-shadow;
      }

      &.subtract {
        order: 0;
      }
      &.add {
        order: 2;
      }
    }

    .number {
      padding: 0.5rem 2rem;
    }
  }
}
