.hero {
  position: relative;
  height: 100%;
  padding-top: 20vh;

  background-image: url("../images/dinner-bg.jpg");
  background-position: center;
  background-size: cover;

  @media screen and (max-width: $breakpoint-small) {
    background: none;
    height: auto;
    min-height: 100%;
    padding-top: 125px;
  }

  .logo {
    position: absolute;
    top: 0; left: 0;
    width: 200px;

    @media screen and (max-width: $breakpoint-small) {
      width: 150px;
      top: -10px;
      left: -10px;
    }
  }

  .beta {
    position: absolute;
    left: 180px;

    color: white;
    font-size: 1rem;
  }

  .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
    @media screen and (max-width: $breakpoint-small) {
      background: linear-gradient($chefit-dark-blue 35vh, $chefit-white);
    }
  }

  >* {
    z-index: 1; // to be on top of overlay
  }

  .title {
    max-width: 800px;
    position: relative;
    margin: auto;
    margin-bottom: 15px;
    padding: 15px;

    @media screen and (max-width: $breakpoint-small) {
      max-width: 95%;
    }

    h2, h3 {
      color: $chefit-white;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.65);
      margin-bottom: 0.5rem;
    }
  }

  .booker {
    position: relative;
    max-width: 800px;
    margin: auto;
    margin-top: 2.5rem; // to account for tab bar

    @media screen and (max-width: $breakpoint-small) {
      max-width: 95%;
    }
  }

  .success {
    position: relative;
    max-width: 600px;
    margin: auto;
    margin-top: 30vh;
    transform: translateY(-50%);
    background-color: $chefit-white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.25);

    text-align: center;

    display: none; // don't display normally

    @media screen and (max-width: $breakpoint-small) {
      max-width: 95%;
      top: 40%;
      border-top-left-radius: 5px;
    }

    div {
      display: flex;
      justify-content: center;

      > * {
        margin: 0px 1rem;
      }
    }
  }

  .chevron {
    position: absolute;
    left: 0; right: 0; bottom: 1rem;
    text-align: center;
    color: white;
    font-size: 6rem;
  }

  &.submitted {
    .title, .booker {
      display: none;
    }
    .success {
      display: block;
    }
  }
}

.content {
  #howitworks {
    margin-bottom: 4rem;
    text-align: center;

    h2 {
      display: inline-block;
      border-bottom: 3px solid $chefit-dark-blue;
      max-width: 100%;
      padding: 0px 4rem;
    }
  }

  #icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .iconbox {
      flex: 1 1 25%;

      @media screen and (max-width: $breakpoint-small) {
        flex: 1 1 100%;
      }

      position: relative;
      margin-bottom: 5rem;
      padding: 0 0.75rem;

      text-align: center;

    &:nth-child(even) {
      @media screen and (min-width: $breakpoint-small) {
        // order: 1;
      }
    }

      .blackbox {
        height: 100%;
        padding: 4rem 1rem 1rem;
        // border-radius: 5px;
        // background-color: #fff;
        // box-shadow: $light-shadow;

        h3 {
          color: $chefit-dark-blue;
        }
      }

      // &.text {
      //   @media screen and (max-width: $breakpoint-small) {
      //     margin-bottom: 4rem;
      //   }
      //   p {
      //     font-size: 1rem;
      //     padding: 0px 0.5rem;
      //   }
      // }

      .icon {
        position: absolute;
        left: 0; right: 0;
        top: 0;
        transform: translateY(-50%);

        i, .image {
          margin: auto;
          width: 4rem; // to make it square (font-size=4rem)
          height: 4rem;
          box-sizing: content-box;
          // background-color: $chefit-blue;
          // color: white;
          padding: 15px;
          // border-radius: 100%;
          // box-shadow: $light-shadow;
        }
      }
    }
  }

  #whatweneed {
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-bottom: 3rem;

    @media screen and (max-width: $breakpoint-small) {
      // width: 100%;
    }

    h3 {
      text-align: center;
    }

    p {
      text-align: center;
      margin-bottom: 1rem;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      li {
        display: inline-block;
        margin: 7px;
        border-bottom: 1px solid $chefit-dark-blue;
      }
    }

    img {
      width: 100%;
    }
  }

  #timing {
    width: 50%;
    margin: auto;
    padding: 15px 20px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: $med-shadow;

    @media screen and (max-width: $breakpoint-small) {
      width: 100%;
    }

    p {
      color: $chefit-white;
      font-size: 1rem;
      font-weight: 200;
    }
  }
}
