.hero {
  height: 100%;
  background-image: url("../images/chef-bg.jpg");
  background-position: center;
  background-size: cover;

  display: flex;

  .logo {
    position: absolute;
    top: 0; left: 0;
    width: 200px;
  }

  .booker {
    flex-basis: 100%;
    max-width: 800px;
    margin: auto;
  }
}
