.modal {
  display: none;

  z-index: 100000;
  position: fixed;
  top: 0; left: 0;

  height: 100%;
  width: 100%;
  overflow: scroll;
  padding: 7.5vh 0;

  background-color: rgba(0,0,0,0.75);

  &.open {
    display: block;
  }

  .content {
    position: relative;
    margin: auto;
    width: 90%;
    max-width: 800px;

    background-color: $chefit-white;

    text-align: center;

    .logo {
      top: -15px;
      left: -15px;
    }

    h3 {
      margin-top: 3rem;
    }

    p.description {
      margin: 1rem 100px;
    }

    .menu-item {
      margin: 1.5rem 0;

      text-align: left;

      label {
        font-size: 1.25rem;
        line-height: 1.35;
        margin-left: 1rem;
      }

      input {
        display: inline-block!important;
      }
    }
  }
}

body.modal-open {
  overflow: hidden;
}
