.modal {
  display: none;

  z-index: 10;
  position: fixed;
  top: 0; left: 0;

  height: 100%;
  width: 100%;
  overflow: scroll;
  padding: 7.5vh 0;

  background-color: rgba(0,0,0,0.75);

  &.open {
    display: block;
  }

  &#modal-package-temptation {
    h2 {
      background-image: url(../images/packages/temptation/menu.jpg);
    }
  }

  &#modal-package-prestige {
    h2 {
      background-image: url(../images/packages/prestige/menu.jpg);
    }
  }

  .content {
    position: relative;
    margin: auto;
    width: 90%;
    max-width: 800px;
    padding: 0;

    background-color: $chefit-white;

    text-align: center;

    .content-inner {
      padding: 0px 10%;
      padding-bottom: 2rem;
    }

    .button--clear {
      position: absolute;
      z-index: 11;
      right: 1.5rem;
      top: 1rem;

      color: white;
      font-size: 2rem;
    }

    .logo {
      top: -15px;
      left: -15px;
      width: 150px;
      @media screen and (max-width: $breakpoint-small) {
        display: none;
      }
    }

    h2 {
      padding: 15vh 0px;
      // background-image: url(../images/packages/prestige/menu2.jpg);
      background-size: cover;
      background-position: center;
      color: #fff;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 1.65);
    }

    h3 {
      margin-top: 3rem;
    }

    .dropdown {
      padding: 5px 10px;

      border: 2px solid $chefit-black;
      border-radius: 5px;

      span.arrow {
        float: right;
      }

      .menu-items {
        overflow: hidden;
        height:0;

        padding: 0px 5px;
      }
    }

    .menu-item {
      display: flex;
      align-items: baseline;

      margin: 1.5rem 0;

      text-align: left;

      label {
        font-size: 1.25rem;
        line-height: 1.35;
        margin-left: 1rem;
      }

      input {
        display: inline-block!important;
        flex-shrink: 0;
      }
    }

    .menu-errors {
      margin-top: 1rem;
      color: $error-red;
    }

    .button {
      margin-top: 3rem;
    }
  }
}

body.modal-open {
  overflow: hidden;
}
