@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Lato');
$roboto-slab: 'Roboto Slab', serif;
$roboto: 'Roboto', sans-serif;
$lato: 'Lato', sans-serif;

html {
  font-family: $lato;
  font-size: 16px;
  color: #222;
}

h1 {
  // font-family: $roboto-slab;
  font-size: 3rem;
}

h2 {
  // font-family: $roboto-slab;
  font-size: 2.5em;
}

h3 {
  // font-family: $roboto-slab;
  font-size: 2rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.35;

  &.small {
    font-size: 1rem;
    color: lighten($chefit-black, 10%);
  }
}

h1, h2, h3, h4 {
  color: $chefit-dark-blue;
}

.error {
  color: red;
  font-size: 1rem;
}
