include _formComponents

mixin booker()
  .booker
    form(id="booker" action="/book" method="POST")
      .errors.inactive
      .tabs
        li.tab.active(data-tab="reservation") Reservation #[i.fa.fa-calendar-check-o]
        li.tab(data-tab="info") Booking Info #[i.fa.fa-pencil-square-o]
        li.tab(data-tab="special-requests") Special Requests #[i.fa.fa-cutlery]
        li.tab(data-tab="package") Select Package #[i.fa.fa-star]
        
      .booker-card#reservation
        +numberInput('Number of people', 'people', 4, 12)
        +dateInput()
        +timeInput()
        .button(data-tab="info") Next >
        
      .booker-card#info
        +basicInput('Name', 'text', 'name')
        +basicInput('Phone', 'tel', 'phone')
        +basicInput('Email', 'email', 'email')
        +basicInput('Address', 'text', 'address', {'placeholder': ''})
        //- input(id="mapsInput" type="text")
        .button(data-tab="special-requests") Next >
        .button.back(data-tab="reservation") < Back
      
      .booker-card#special-requests
        - const diets = ['Dairy', 'Peanuts', 'Shellfish', 'Gluten']
        +checkboxes('Allergies & dietary restrictions', 'diet', diets)
        .basicInput.input#additional
          label(for='additional') Additional info (dietary restrictions, favorite topics of conversation)
          textarea(rows='1' name='additional')
        .button(data-tab="package") Next >
        .button.back(data-tab="info") < Back
        
      .booker-card.active#package
        .package
          .type
            h3 VIP Package
            //- p.description A casual dining chef experience including a salad or an appetizer of your choice and a main course
          .info
            p.price $60 per person
            .menu View menu
          input(type='radio' name='package' id='vip' value='vip' required)
        .package
          .type
            h3 Executive Package
          .info
            p.price $100 per person
            .menu View menu
          //- p.description  A more exclusive fine dining experience using the finest cuts of meat and best produce available
          input(type='radio' name='package' id='vip' value='executive' required)
        .button(data-tab="package" id="submit") Submit
        //- input(type="submit" value="Submit")
        .button.back(data-tab="special-requests") < Back
  link(rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css")
  script(src="https://unpkg.com/flatpickr")
  script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnZSWvBF46Su4ueHW0SeDiflUvecxKBpU&libraries=places")
  script(type="application/javascript", src="javascripts/_booker.js")
  

        
      
    
