include _formComponents
  
mixin booker()
  .booker
    form(id="booker" action="/square" method="POST")
      .errors.inactive
      .tabs
        li.tab.active(data-tab="package") #[i.fa.fa-star] Select Package
        li.tab(data-tab="reservation") #[i.fa.fa-calendar-check-o] Reservation 
        li.tab(data-tab="info") #[i.fa.fa-pencil-square-o] Booking Info 
        li.tab(data-tab="special-requests") #[i.fa.fa-cutlery] Special Requests
        
      .booker-card.active#package
        .package#temptation
          .type
            h3 Temptation Package
          .info
            p.price.small $60 per person
            .menu.button(data-modal="modal-package-temptation") View menu
          .modal#modal-package-temptation
            .content
              .button--clear X
              img.logo(src="images/chefit-logo.png", alt="CHEFIT")
              h2 Temptation Menu
              
              .content-inner
                p.small.description A casual dining experience prepared by one of our certified chefs including a salad and appetizer of your choice and a main course. The total price includes grocery cost, the chef’s travelling fees, food preparation and execution, and kitchen clean-up.

                h3 Appetizers
                hr
                p.small Choose one
                .menu-items
                  .menu-item
                    input(type="radio" name="appetizer" value="Eggplant involtini, fresh mozzarella, marinara, basil oil" id="eggplant")
                    label(for="eggplant") Eggplant involtini, fresh mozzarella, marinara, basil oil
                  .menu-item
                    input(type="radio" name="appetizer" value="Buffalo keftka spiced ground buffalo skewers, apricot chutney, feta cheese" id="buffalo")
                    label(for="buffalo") Buffalo keftka spiced ground buffalo skewers, apricot chutney, feta cheese
                  .menu-item
                    input(type="radio" name="appetizer" value="Calamari & green bean anti-pasta lemon, chili, breadcrumbs, bagna cauda" id="calamari")
                    label(for="calamari") Calamari & green bean anti-pasta lemon, chili, breadcrumbs, bagna cauda
                  .menu-item
                    input(type="radio" name="appetizer" value="Green hummus, fresh chickpeas, spinach, spiced ground lamb, grilled naan, pickles" id="hummus")
                    label(for="hummus") Green hummus, fresh chickpeas, spinach, spiced ground lamb, grilled naan, pickles
                  
                h3 Salads
                hr
                p.small Choose one:

                .menu-items
                  .menu-item
                    input(type="radio" name="salad" value="California roasted beets upland cress, peas, ginger, passionfruit sorbet" id="beets")
                    label(for="beets") California roasted beets upland cress, peas, ginger, passionfruit sorbet
                  .menu-item
                    input(type="radio" name="salad" value="Creamy zuppa toscana white beans, italian sausage, kale, sourdough croutons" id="zuppa")
                    label(for="zuppa") Creamy zuppa toscana white beans, italian sausage, kale, sourdough croutons
                  .menu-item
                    input(type="radio" name="salad" value="California ceasar grilled romaine, herbed croutons, parmesan dressing, radish, avocado" id="ceasar")
                    label(for="ceasar") California ceasar grilled romaine, herbed croutons, parmesan dressing, radish, avocado
                  .menu-item
                    input(type="radio" name="salad" value="Smoked salmon salad, endive, citrus, avocado,chive cream cheese dressing, bagel chips" id="salmonsalad")
                    label(for="salmonsalad") Smoked salmon salad, endive, citrus, avocado,chive cream cheese dressing, bagel chips
                  .menu-item
                    input(type="radio" name="salad" value="Asian crunch salad, napa cabbage, sesame crackers, red bell pepper, cashews, herbs, soy dressing" id="asiancrunch")
                    label(for="asiancrunch") Asian crunch salad, napa cabbage, sesame crackers, red bell pepper, cashews, herbs, soy dressing
                
                h3 Main course
                hr
                p.small Choose one:
                
                .menu-items
                  .menu-item
                    input(type="radio" name="main" value="Miso true cod & jumbo shrimp sweet potato, baby bok choy, chive oil" id="cod")
                    label(for="cod") Miso true cod & jumbo shrimp sweet potato, baby bok choy, chive oil
                  .menu-item
                    input(type="radio" name="main" value="Slow roasted salmon, melted leeks, tomato confit, truffle brown butter" id="roasted-salmon")
                    label(for="roasted-salmon") Slow roasted salmon, melted leeks, tomato confit, truffle brown butter
                  .menu-item
                    input(type="radio" name="main" value="Crispy skin salmon french beans, turnip soubise, charred tomato vinaigrette" id="skin-salmon")
                    label(for="skin-salmon") Crispy skin salmon french beans, turnip soubise, charred tomato vinaigrette
                  .menu-item
                    input(type="radio" name="main" value="Spanish monkfish tail fingerling potatoes, olive, artichoke, arugula, roasted pepper vinaigrette" id="monkfish")
                    label(for="monkfish") Spanish monkfish tail fingerling potatoes, olive, artichoke, arugula, roasted pepper vinaigrette
                  .menu-item
                    input(type="radio" name="main" value="Caramelized trenne with lamb bolognese, ricotta cheese, parmesan, bread crumbs" id="trenne")
                    label(for="trenne") Caramelized trenne with lamb bolognese, ricotta cheese, parmesan, bread crumbs
                  .menu-item
                    input(type="radio" name="main" value="Grilled new york steak, shimegi mushrooms, roasted carrots, carrot top gremolata, red wine reduction." id="ny-steak")
                    label(for="ny-steak") Grilled new york steak, shimegi mushrooms, roasted carrots, carrot top gremolata, red wine reduction.
                  .menu-item
                    input(type="radio" name="main" value="Mary’s organic chicken potato gnocchi, charred baby broccoli, roasted cherry tomatoes, lemon parmesan cream" id="gnocchi")
                    label(for="gnocchi") Mary’s organic chicken potato gnocchi, charred baby broccoli, roasted cherry tomatoes, lemon parmesan cream

                .button.next(data-tab="reservation") Next
                .menu-errors
          input(type='radio' name='package' value='Temptation' required)
            
        .package#prestige
          .type
            h3 Prestige Package
          .info
            p.price.small $100 per person
            .menu.button(data-modal="modal-package-prestige") View menu
          .modal#modal-package-prestige
            .content
              .button--clear X
              img.logo(src="images/chefit-logo.png", alt="CHEFIT")
              h2 Prestige Menu
              
              .content-inner
                p.small.description A more exclusive fine dining experience prepared by one of our certified chefs using the finest cuts of meat and best produce available. The total price includes grocery cost, the chef’s travelling fees, food preparation and execution, and kitchen clean-up.
                h3 Appetizers
                hr
                p.small Choose one:
                .menu-item
                  input(type="radio" name="appetizer" value="Bacon Wrapped Dates and asparagus stuffed with a drizzle of balsamic reduction topped with chopped marcona almonds" id="bacondates")
                  label(for="bacondates") Bacon Wrapped Dates and asparagus stuffed with a drizzle of balsamic reduction topped with chopped marcona almonds
                .menu-item
                  input(type="radio" name="appetizer" value="Ricotta stuffed figs with candied walnuts, mint chips and raw honey drizzle" id="ricottafigs")
                  label(for="ricottafigs") Ricotta stuffed figs with candied walnuts, mint chips and raw honey drizzle
                .menu-item
                  input(type="radio" name="appetizer" value="Diver scallop with Julienne vegetables and Beurre Blanc" id="scallop")
                  label(for="scallop") Diver scallop with Julienne vegetables and Beurre Blanc
                .menu-item
                  input(type="radio" name="appetizer" value="Spicy tuna tartar in cucumber cups or crispy won tons" id="spicytuna")
                  label(for="spicytuna") Spicy tuna tartar in cucumber cups or crispy won tons
                  
                h3 Salads
                hr
                p.small Choose one:
                .menu-item
                  input(type="radio" name="salad" value="Roasted beet salad with crumbled goat cheese and toasted hazelnuts" id="roastedbeet")
                  label(for="roastedbeet") Roasted beet salad with crumbled goat cheese and toasted hazelnuts
                .menu-item
                  input(type="radio" name="salad" value="Corn, cherry tomato and avocado salad with cilantro dressing atop of escarole lea" id="avosalad")
                  label(for="avosalad") Corn, cherry tomato and avocado salad with cilantro dressing atop of escarole lea
                .menu-item
                  input(type="radio" name="salad" value="Classic tabbouleh with garbanzo beans and feta cheese" id="tabbouleh")
                  label(for="tabbouleh") Classic tabbouleh with garbanzo beans and feta cheese
                .menu-item
                  input(type="radio" name="salad" value="Asian chicken crunch salad with a ginger sesame dressing topped with slivered almonds" id="asianchicken")
                  label(for="asianchicken") Asian chicken crunch salad with a ginger sesame dressing topped with slivered almonds
                
                h3 Main course
                hr
                p.small Choose one:
                .menu-item
                  input(type="radio" name="main" value="Branzino atop a bed of confetti corn served with potato puree and herb garnish" id="branzino")
                  label(for="branzino") Branzino atop a bed of confetti corn served with potato puree and herb garnish
                .menu-item
                  input(type="radio" name="main" value="Roasted game Cornish hen with citrus sage stuffing, served au jus with forbidden rice and roasted root vegetables" id="cornishhen")
                  label(for="cornishhen") Roasted game Cornish hen with citrus sage stuffing, served au jus with forbidden rice and roasted root vegetables
                .menu-item
                  input(type="radio" name="main" value="Lamb chops with thyme and garlic marinade over creamy polenta and charred broccolini" id="lambchops")
                  label(for="lambchops") Lamb chops with thyme and garlic marinade over creamy polenta and charred broccolini
                .menu-item
                  input(type="radio" name="main" value="New York strip steak with cremini mushrooms served with scalloped potatoes with toasted breadcrumb and haricot verts" id="stripsteak")
                  label(for="stripsteak") New York strip steak with cremini mushrooms served with scalloped potatoes with toasted breadcrumb and haricot verts
                .button.next(data-tab="reservation") Next
                .menu-errors
          input(type='radio' name='package' value='Prestige' required)
        //- .button(data-tab="reservation") Next 
        
      .booker-card#reservation
        +numberInput('Number of people', 'people', 4, 12)
        +dateInput()
        +timeInput()
        .button.back(data-tab="package")  Back
        .button.next(data-tab="info") Next
        
      .booker-card#info
        +basicInput('Name', 'text', 'name')
        +basicInput('Phone', 'tel', 'phone')
        +basicInput('Email', 'email', 'email')
        +basicInput('Address', 'text', 'address', {'placeholder': ''})
        +basicInput('Zip', 'text', 'zip')
        //- input(id="mapsInput" type="text")
        .button.next(data-tab="special-requests") Next 
        .button.back(data-tab="reservation")  Back
      
      .booker-card#special-requests
        - const diets = ['Dairy', 'Peanuts', 'Shellfish', 'Gluten']
        +checkboxes('Allergies & dietary restrictions', 'diet', diets)
        .basicInput.input#additional
          label(for='additional') Additional info (dietary restrictions, favorite topics of conversation)
          textarea(rows='1' name='additional')
        .button(id="submit" data-tab="special-requests") Submit
        .button.back.next(data-tab="info")  Back
        
  script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnZSWvBF46Su4ueHW0SeDiflUvecxKBpU&libraries=places")
