include _formComponents

mixin booker()
  .booker
    form(action="/book" method="POST")
      .tabs
        li.tab.active(data-tab="reservation") Reservation
        li.tab(data-tab="info") Booking Info
        li.tab(data-tab="special-requests") Special Requests
        li.tab(data-tab="package") Select Package
        //- .toggle &and;
        
      .booker-card.active#reservation
        //- +basicInput('Number of people', 'number', 'people', {'value': 1})
        +numberInput('Number of people', 'people', 4, 12)
        +dateInput()
        +timeInput()
        //- +basicInput('Date', 'date', 'date')
        //- +basicInput('Time', 'time', 'time')
        .button(data-tab="info") Next >
        
      .booker-card#info
        +basicInput('Name', 'text', 'name')
        +basicInput('Phone', 'tel', 'phone')
        +basicInput('Email', 'email', 'email')
        +basicInput('Address', 'text', 'address')
        .button(data-tab="special-requests") Next >
        .button.back(data-tab="reservation") < Back
      
      .booker-card#special-requests
        - const diets = ['Milk/dairy', 'Eggs', 'Peanuts', 'Soy', 'Fish', 'Shellfish', 'Kosher/Religious', 'Tree nuts, like walnuts, almonds, pine nuts, brazil nuts, and pecans', 'Wheat and other grains with gluten, including barley, rye, and oats']
        +checkboxes('Allergies & dietary restrictions', 'diet', diets)
        .basicInput.input#additional
          label(for='additional') Additional info (dietary restrictions, favorite topics of conversation)
          textarea(rows='5' name='additional')
        .button(data-tab="package") Next >
        .button.back(data-tab="info") < Back
        
      .booker-card#package
        //- - const packages = ['VIP', 'Executive']
        //- +radios('package', packages)
        .package
          h3 VIP Package
          p.price $60 per person
          p.description A casual dining chef experience including a salad or an appetizer of your choice and a main course
          input(type='radio' name='package' id='vip' value='vip')
        .package
          h3 Executive Package
          p.price $100 per person
          p.description  A more exclusive fine dining experience using the finest cuts of meat and best produce available
          input(type='radio' name='package' id='vip' value='vip')
        input(type="submit" value="Submit")
        .button.back(data-tab="special-requests") < Back
  link(rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css")
  script(src="https://unpkg.com/flatpickr")
  script(type="application/javascript", src="javascripts/_booker.js")
        
      
    
